* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    #frame {
        font-size: 100vh;
        width: 100vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 1/1) {
    #frame {
        font-size: 100vw;
        height: 100vw;
        width: 100vw;
    }
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hearts {
    top: 0em;
    left: 0em;
    z-index: 99;
    padding: 0.05em;
    position: absolute;
}

.heart {
    width: 0.1em;
    height: 0.1em;
    float: left;
    margin-right: 0.01em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/heart.png");
}

.half.heart {
    background-image: url("images/halfheart.png");
}
