* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 1/1) {
    #frame {
        font-size: 100vh;
        width: 100vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 1/1) {
    #frame {
        font-size: 100vw;
        height: 100vw;
        width: 100vw;
    }
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hearts {
    top: 0em;
    left: 0em;
    z-index: 99;
    padding: 0.05em;
    position: absolute;
}

.heart {
    width: 0.1em;
    height: 0.1em;
    float: left;
    margin-right: 0.01em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/heart.png");
}

.half.heart {
    background-image: url("images/halfheart.png");
}

#you-win {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    position: absolute;

    padding: 5em 1em;

    font-size: 0.05em;
    text-align: center;
    font-family: monospace;

    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
    transition-property: opacity;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
}

#play-again {
    margin: 1em;
    display: block;
}

a {
    color: inherit;
}

a:hover {
    color: #C00;
}
